body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 95%;
    padding: 1.5rem;
    background-color: rgb(47, 62, 75);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    font-family: Arial, sans-serif;
}

input,
select {
    padding: 0.55rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    outline: none;
}

input:focus,
select:focus,
input:hover,
select:hover {
    border-color: #ccc;
    box-shadow: none;
}

.inputDiv {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

button {
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #4f46e5;
}

button:active {
    transform: scale(0.98);
}