.app-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 14px;
  transform: scale(0.97);
  transform-origin: top center;
}

.main-grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 22px;
  margin-top: 20px;

}

.left-panel {
  position: sticky;
  top: 90px;

  height: fit-content;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 18px;

}